SET NOCOUNT ON
GO

USE [master]
GO

if exists (select * from sysdatabases where name='ita18biblioteca')
		drop database ita18biblioteca
go

DECLARE @device_directory NVARCHAR(520)
SELECT @device_directory = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1

EXECUTE (N'CREATE DATABASE ita18biblioteca
  ON PRIMARY (NAME = N''ita18biblioteca'', FILENAME = N''' + @device_directory + N'ita18biblioteca.mdf'')
  LOG ON (NAME = N''ita18biblioteca_log'',  FILENAME = N''' + @device_directory + N'ita18biblioteca.ldf'')')
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ita18biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ita18biblioteca]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[primeironome] [nvarchar](50) NOT NULL,
	[ultimonome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorLivro](
	[idlivro] [int] NOT NULL,
	[idautor] [int] NOT NULL,
 CONSTRAINT [PK_AutoLivro] PRIMARY KEY CLUSTERED 
(
	[idlivro] ASC,
	[idautor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entregue] [bit] NOT NULL,
	[dataretirada] [date] NOT NULL,
	[datadevolucao] [date] NOT NULL,
	[idlivro] [int] NOT NULL,
 CONSTRAINT [PK_Emprestimo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Livro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AutorLivro]  WITH CHECK ADD  CONSTRAINT [FK_AutorLivro_Autor] FOREIGN KEY([idautor])
REFERENCES [dbo].[Autor] ([id])
GO
ALTER TABLE [dbo].[AutorLivro] CHECK CONSTRAINT [FK_AutorLivro_Autor]
GO
ALTER TABLE [dbo].[AutorLivro]  WITH CHECK ADD  CONSTRAINT [FK_AutorLivro_Livro] FOREIGN KEY([idlivro])
REFERENCES [dbo].[Livro] ([id])
GO
ALTER TABLE [dbo].[AutorLivro] CHECK CONSTRAINT [FK_AutorLivro_Livro]
GO
ALTER TABLE [dbo].[Emprestimo]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimo_Livro] FOREIGN KEY([idlivro])
REFERENCES [dbo].[Livro] ([id])
GO
ALTER TABLE [dbo].[Emprestimo] CHECK CONSTRAINT [FK_Emprestimo_Livro]
GO
USE [master]
GO
